.carousel-inner > .carousel-item > img,
.carousel-inner > .item > img {
  width: auto;
  margin: auto;
  height: 32rem!important;
}
img {
  width: auto!important;
  height: auto!important;
}
@media only screen and (max-width: 600px){
  .carousel-inner{
    margin: auto;
    height: 15rem;
    display: block;
  }
}
